body {
    background-color: rgb(216, 211, 130);
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-width: 1150px;
    height: auto;
    margin: auto;
 
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;
    width: 100%;
    padding: 0;
    margin-top: 20px;

}


.header h3 {
    color: rgba(3, 4, 94, 1);
    font-size: 24px;
    letter-spacing: 0%;
    line-height: auto;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0
}

.header ul li {
    margin: 8px 0;
}


.header ul li a {
    text-decoration: none;
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(3, 4, 94, 1);

}

 .logo img {
    padding: 20px;
}


.title {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    
}

.title h3 {
    color: rgba(3, 4, 94, 1);
    font-size: 24px;
    line-height: auto;
}

.title h3 span {
    font-size: 85px;
    line-height: 116px;
    letter-spacing: 0%;
}

.resume-btn {
    background-color:rgba(245, 238, 132, 1) ;
    color: rgba(71, 67, 6, 1);
    margin-top: 37px;
    padding: 12px 34px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 0px 0px #000 , 0 5px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    
}

.resume-btn a {
 text-decoration: none;
}

.profile-container {
position: relative;
width: 300px;
height: 300px;
border: 1px solid black;
border-radius: 50%;
overflow: hidden;
margin-left: 400px;
order: 1;

}

.profile-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}




.plus-sign{
    top: 5%;
    right: 5%;
    font-size: 40px;
    position: absolute;
    color: rgba(71, 67, 6, 1);
}

.lines{
bottom: 25%;
left: 10%;
position: absolute;
color: rgba(71, 67, 6, 1);
padding-right: 10px;
width: 103px;
height: 26px;
font-size: 40px;
}

.dark-circle{
    position: absolute;
    top: 0;
    left:0 ;
    width: 90%;
    height: 90%;
    color: rgba(71, 67, 6, 1);
    border-radius: 50%;
}


@media screen and (max-width: 768px) {
    
    /* 1. ASOSIY QISM: .title ni vertikalga o'tkazamiz */
    .title {
        flex-direction: column; /* Rasm va Matnni ustma-ust qo'yish */
        align-items: center;
        padding-top: 30px; 
    }
    
    /* 2. RASM JOYLAShUVI (400px marginni bekor qilish) */
    .profile-container {
        order: 1; /* Rasmni tepaga chiqarish */
        margin-left: auto !important; /* Katta ekrandagi 400px ni bekor qilish */
        margin: 30px auto; /* Markazga joylash */
        
        width: 75vw !important; /* Telefon ekraniga moslash */
        height: 75vw !important; 
        position: relative !important; 
    }
    
    /* 3. MATN JOYLAShUVI */
    .info { 
        order: 2; /* Matnni rasm ostiga tushirish */
        text-align: center;
        width: 100%;
        padding: 0 15px; 
    }
    
    /* ... qolgan navigatsiya tuzatishlari ... */
}

